body,
label,
input,
select {
    font-family: 'Abel', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.ui-btn {
    font-family: 'Abel', sans-serif;
}
